h1 {
  color : blue;
  font-size: 3em;
  }
  h2 {
  color : green;
  font-weight : normal;
  font-style : italic;
  }
  #tasks .completed {
  text-decoration : underline;
  }
  body{
    background-color: pink;
  }
  #tasks .completed{
    background: #ccc;
    text-decoration: underline;
  }
